<div class="mt-8 mx-auto max-w-xl">
  <%= render "ui/controller_action" %>
  <div class="bg-white border-2 p-16 text-center rounded-md">
    <h1 class="font-display font-bold text-6xl">Sign up</h1>
    <div class="max-w-md mx-auto">
      <div class="mt-12">
        <% -if resource_class.omniauth_providers.include?(:google_oauth2) %>
          <%= button_to omniauth_authorize_path(resource_name, :google_oauth2), data: { turbo: false }, class: "group inline-flex items-center justify-center mt-4 w-full text-center py-2 border-2 border-stone-800 rounded-md hover:bg-stone-800 hover:text-stone-50" do %>
            <%= image_tag "google_icon.png", class: "h-4 w-4 mr-4 group-hover:invert" %>
            <p>
              Continue with Google
            </p>
          <% end %>
        <% end %>
        <% -if resource_class.omniauth_providers.include?(:github) %>
          <%= button_to omniauth_authorize_path(resource_name, :github), data: { turbo: false }, class: "group inline-flex items-center justify-center mt-4 w-full text-center py-2 border-2 border-stone-800 rounded-md hover:bg-stone-800 hover:text-stone-50" do %>
            <%= image_tag "github_icon.png", class: "h-5 w-5 mr-4 group-hover:invert" %>
            <p>
              Continue with GitHub
            </p>
          <% end %>
        <% end %>
      </div>
      <p class="font-bold mt-12 mb-4">- OR -</p>
      <%= render "devise/shared/error_messages", resource: @user %>
      <%= form_for(
            resource,
            as: resource_name,
            url: registration_path(resource_name),
            html: { class: "text-left mx-auto space-y-4" },
          ) do |f| %>
        <div>
          <%= f.label :email, class: "font-mono block text-sm font-medium leading-6 text-gray-900" %>
          <div class="mt-2">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "you@example.com", class: "block w-full py-1.5 text-stone-900 placeholder:text-stone-400 border-2 border-stone-200 rounded-md text-sm" %>
          </div>
        </div>
        <div>
          <%= f.label :password, class: "font-mono block text-sm font-medium leading-6 text-gray-900" %>
          <%= tag.em("[#{@minimum_password_length} characters minimum]", class: "text-xs font-mono") if @minimum_password_length %>
          <div class="mt-2">
            <%= f.password_field :password, autocomplete: "new-password", placeholder: "********", class: "block w-full py-1.5 text-stone-900 placeholder:text-stone-400 border-2 border-stone-200 rounded-md text-sm" %>
          </div>
        </div>
        <div>
          <%= f.label :password_confirmation, class: "font-mono block text-sm font-medium leading-6 text-gray-900" %>
          <div class="mt-2">
            <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "********", class: "block w-full py-1.5 text-stone-900 placeholder:text-stone-400 border-2 border-stone-200 rounded-md text-sm" %>
          </div>
        </div>
        <% if devise_mapping.rememberable? %>
          <div class="flex items-center">
            <%= f.check_box :remember_me, class: "border-stone-800 border-2 rounded-sm" %>
            <%= f.label :remember_me, class: "ml-2 text-sm" %>
          </div>
        <% end %>
        <div class="flex mx-auto mt-16">
          <%= link_to "Log in", new_session_path(resource_name), class: "mt-4 w-full rounded-l-md text-center py-2 border-2 border-stone-800 hover:bg-stone-800 hover:text-stone-50" %>
          <%= f.submit "Sign up →", class: "mt-4 w-full rounded-r-md py-2 text-stone-50 bg-stone-800 hover:cursor-pointer" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
